
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,400&display=swap');

  
  @import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;500;600&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.stickToBottom{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  top: 25vh;
}
.header{
  height: 50px;
}
.carBackground{
  background: linear-gradient(0deg, rgba(237, 255, 253, 0.5), rgba(237, 255, 253, 0.5)), url("../public/VoitureApp.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.homepage{
  color: #69443C;
  background-color: white;
  padding: 5px 30px;
  border-radius: 20px;
  text-decoration: none;
  font-family: 'Roboto Mono', sans-serif ;

}

.title{
font-family: 'Rufina', sans-serif ;
color: #1b1a1a;
text-shadow: 2px 2px #ebe8e7;
font-weight: 400;
font-size: 22px;
}

.titlep{
font-family: 'Roboto Mono', sans-serif ;
color: #69443C;
}

.carBG{
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.logo{
  width: auto;
  height: 15px;
}
.profile{
  width: auto;
  height: 25px;
}